body {
  margin: 0;
  padding: 0; }

#full_header {
  background: url("../img/intro-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }

.navbar {
  z-index: 100; }

.is-sticky .navbar {
  background: #000;
  transition: 0.8s; }

#full_header .navbar-brand {
  font-size: 40px; }

#full_header .navbar-brand i {
  color: #F82249;
  padding: 10px; }

#full_header .nav-link {
  padding: 10px;
  color: #fff; }

#full_header .home {
  border-bottom: 2px solid #F82249; }

#full_header .nav-link:hover {
  border-bottom: 2px solid #F82249;
  transition: 1s; }

#full_header .btn-danger {
  padding: 2px 25px;
  border-radius: 50px;
  background: #F82249;
  color: #fff; }

#full_header .btn-danger:hover {
  background: #000;
  color: #fff;
  border: 2px solid #F82249; }

#full_header .header_bottom {
  margin-top: 120px;
  margin-bottom: 40px; }

#full_header .header_bottom h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 56px;
  font-weight: 600;
  font-family: "Raleway", sans-serif; }

#full_header .header_bottom span {
  color: #F82249; }

#full_header .header_bottom p {
  color: #ebebeb;
  font-weight: 700;
  font-size: 20px;
  font-family: "Raleway", sans-serif; }

#full_header .header_bottom .play_icon .fa {
  color: #F82249;
  font-size: 80px;
  padding: 40px 0px; }

#full_header .header_bottom .play_icon .fa:hover {
  color: #fff; }

#full_header .header_bottom .btn {
  padding: 5px 25px;
  border: 2px solid #F82249;
  border-radius: 50px;
  color: #fff;
  margin-top: 20px; }

#full_header .header_bottom .btn:hover {
  border: none;
  background: #F82249; }

/*About Section */
#About {
  background: url("../img/about-bg.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 50px 0px; }

#About h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff; }

#About h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff; }

#About p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff; }

/*Speakers Section */
#Speakers .speaker {
  position: relative;
  overflow: hidden; }

#Speakers .speaker .details {
  background: rgba(6, 12, 34, 0.76);
  position: absolute;
  left: 0;
  bottom: -30px;
  right: 0;
  text-align: center;
  padding-top: 10px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1); }

#Speakers .speaker .details .social {
  height: 60px;
  margin-top: -20px; }

#Speakers .speaker .details .social ul {
  list-style: none;
  margin-left: 80px; }

#Speakers .speaker .details .social ul li {
  float: left;
  padding: 5px; }

#Speakers .speaker .details .social ul li:hover {
  color: #f82249; }

/* All section header*/
#section_header h2 {
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px; }

#section_header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2; }

#section_header span {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  margin-top: 20px;
  left: calc(50% - 25px); }

/* Event Schedule*/
#Schedule {
  background: #F6F7FD; }

#Schedule .schedule_day .btn-danger {
  padding: 5px 90px;
  border-radius: 50px;
  background: #0E1B4D;
  border: none; }

#Schedule .schedule_day a {
  font-weight: bold; }

#Schedule .schedule_day h3 {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  margin: 0 auto 30px auto;
  padding: 30px; }

#Schedule .schedule_day a:hover {
  background-color: #F82249; }

#Schedule .schedule_day a:active {
  background-color: #F82249; }

#Schedule .registration_section .image img {
  width: 60px;
  height: 60px;
  border-radius: 50px; }

#Schedule .registration_section .head_pra {
  position: absolute;
  left: 80px;
  top: 0px; }

#Schedule .registration_section .single_registration {
  display: block;
  padding: 10px; }

#Schedule .registration_section .single_registration:hover {
  background: #fff; }

/* Venue */
#Event_venue iframe {
  width: 100%;
  height: 100%;
  min-height: 300px; }

#Event_venue .venue_info {
  background: url("../img/venue-info-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
  padding: 0px 70px;
  margin-left: -25px; }

#Event_venue .venue_info p {
  text-align: justify;
  padding: 20px 70px; }

#Event_venue img {
  margin-top: -47px;
  margin-bottom: 50px; }

/*Hotels*/
#Hotel {
  background: #F6F7FD; }

#Hotel .hotel_wrapper .star {
  color: #ff9900; }

#Hotel .hotel_wrapper .image-hover {
  overflow: hidden; }

#Hotel .hotel_wrapper .image-hover img {
  transition: 0.3s ease-in-out;
  vertical-align: middle;
  border-style: none; }

#Hotel .hotel:hover .image-hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

/*Sponsors*/
#Sponsors {
  background: #F6F7FD; }

#Sponsors .single_sponsors .gallery img {
  margin: 0px 20px; }

#Sponsors .single_sponsors .gallery {
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #e0e5fa;
  border-bottom: 1px solid #e0e5fa;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  height: 180px; }

/* F.A.Q */
#faq {
  padding: 60px 0; }

#faq #faq-list {
  padding: 0;
  list-style: none; }

#faq #faq-list li {
  border-bottom: 1px solid #ddd; }

#faq #faq-list a {
  padding: 18px 0;
  display: block;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding-right: 20px; }

#faq #faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 16px; }

#faq #faq-list p {
  margin-bottom: 20px; }

#faq #faq-list a.collapse {
  color: #f82249; }

#faq #faq-list a.collapsed {
  color: #000; }

#faq #faq-list a.collapsed i::before {
  content: "\f055" !important; }

/* NewsLetter */
#newsletter {
  background: url("../img/subscribe-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

#newsletter input {
  text-align: center; }

#newsletter input {
  border-radius: 50px;
  padding: 10px 100px;
  margin-right: 10px; }

#newsletter .btn-danger {
  border-radius: 50px;
  padding: 10px 30px; }

/* Buy Ticket*/
#buy_ticket {
  background: #F6F7FD; }

#buy_ticket .single_ticket h6 {
  font-size: 20px; }

#buy_ticket .single_ticket p {
  font-size: 40px; }

#buy_ticket .single_ticket .service {
  padding: 10px; }

#buy_ticket .single_ticket .service i {
  padding: 5px; }

#buy_ticket .single_ticket .btn {
  background: #F82249;
  padding: 10px 40px;
  border-radius: 50px; }

#buy_ticket .single_ticket .card {
  -webkit-box-shadow: 4px 21px 50px 12px #e5e6ec;
  -moz-box-shadow: 4px 21px 50px 12px #e5e6ec;
  box-shadow: 4px 21px 50px 12px #e5e6ec; }

/* Contact Us */
#Contact .single_contact {
  border-right: 1px solid #DDDDDD;
  padding: 20px; }

#Contact .single_contact:nth-child(3) {
  border-right: none; }

#Contact .single_contact a:hover {
  text-decoration: none;
  color: #f82249; }

#Contact .btn {
  background: #F82249;
  padding: 10px 40px;
  border-radius: 50px; }

/*Footer Top*/
#footer_top {
  background: #040919; }

#footer_top .text-light {
  font-size: 40px; }

#footer_top .text-light i {
  color: #F82249;
  padding: 10px; }

#footer_top p {
  color: #fff; }

#footer_top h6 {
  color: #fff; }

#footer_top .hr_main {
  background-color: #f82249; }

#footer_top .useful_links ul {
  list-style: none;
  margin: 0;
  padding: 0; }

#footer_top .useful_links ul li a {
  color: #fff;
  text-decoration: none; }

#footer_top .useful_links ul li a:hover {
  color: #f82249; }

#footer_top .useful_links ul li i {
  color: #f82249;
  padding-right: 5px; }

#footer_top .useful_links .hr_secondary {
  background: #262C44; }

#footer_top .social_icon ul {
  list-style: none; }

#footer_top .social_icon ul li {
  float: left; }

#footer_top .social_icon ul li a {
  color: #fff;
  padding: 5px;
  background: #262C44;
  border-radius: 40px;
  margin-right: 5px; }

#footer_top .social_icon ul li a:hover {
  background: #f82249; }

/* Main Footer */
#main_footer {
  background: #101522; }

#main_footer p {
  color: #fff; }

#main_footer a {
  color: #f82249; }

@media (max-width: 576px) {
  #Schedule .schedule_day .btn-danger {
    padding: 5px 30px; } }

@media (max-width: 768px) {
  #Schedule .schedule_day .btn-danger {
    padding: 5px 30px; } }
